@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Russo One', sans-serif;


body {
    background: #242424;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 34px;
    color: #6B6B6A;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu {
    position: fixed;
    transform: rotate(-90deg) ;
    top: 40%;

    &__list {
        display: inline;

    }

    &__itam {
        display: inline;

    }

    &__link {
        font-family: 'Russo One', sans-serif;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #383838;
        &:hover{
            color: #FDF400;      
        }
    }
}

.header {
    &__logo {
        margin-top: 41px;
    }

    &__contant {
        margin-top: 194px;
        max-width: 635px;
        margin-right: auto;
    }

    &__title {
        font-family: 'Russo One', sans-serif;
        font-size: 64px;
        line-height: 77px;
        color: #ffffff;
    }

    &__text {
        margin-top: 35px;
    }
}

.about {
    &__contant {
        margin-top: 375px;
        max-width: 570px;
        margin-left: auto;
    }

    &__title {
        font-family: 'Russo One', sans-serif;
        font-size: 36px;
        line-height: 43px;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__line {
        height: 2px;
        width: 100%;
        background: linear-gradient(to right, #FDF400, rgba(253, 244, 0, 0));
        border: none;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    &__text {
        font-size: 24px;
        line-height: 34px;
    }


}