@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap");
body {
  background: #242424;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 34px;
  color: #6B6B6A;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.menu {
  position: fixed;
}

.header__logo {
  margin-top: 41px;
}
.header__contant {
  margin-top: 194px;
  max-width: 635px;
  margin-right: auto;
}
.header__title {
  font-family: "Russo One", sans-serif;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
}
.header__text {
  margin-top: 35px;
}

.about__contant {
  margin-top: 375px;
  max-width: 570px;
  margin-left: auto;
}
.about__title {
  font-family: "Russo One", sans-serif;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 2px solid linear-gradient(to right, #FDF400, rgba(253, 244, 0, 0));
  padding-bottom: 20px;
}
.about__text {
  font-size: 24px;
  line-height: 34px;
}